<% unless current_user.subscription.plan.eql? "premium"  %>
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1 class="my-0 font-weight-normal">Free</h1>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">INR 0 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Can create 2 projects</li>
            <li>Join 2 teams</li>
            <li class="text-muted"><del>No multiple teams</del></li>
            <li class="text-muted"><del>No more projects access</del></li>
          </ul>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h1 class="my-0 font-weight-normal">Premium</h1>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">INR 500 <small class="text-muted">/ mo</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Multiple projects</li>
            <li>Multiple teams join</li>
          </ul>
          <%= button_to 'Buy Now', account_user_choose_plan_path, class: 'button new', data: { turbo: false }%>
        </div>
      </div>

    </div>
<% else %>
  <h1>Congrats! You have premium membership to access unlimited projects</h1>
<%end %>

